
{% extends 'base.html' %}

{% block content %}

<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 tm-content">

    <div class="tm-bg-transparent-black tm-contact-box-pad">
        <div class="row mb-4">
            <div class="col-sm-12">
                <header><h2 class="tm-text-shadow">Contact Us</h2></header>
            </div>
        </div>
        <div class="row tm-page-4-content">
            <div class="col-md-6 col-sm-12 tm-contact-col">
                <div class="contact_message">
                    <form action="#contact" method="post" class="contact-form">
                        <div class="form-group">
                            <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Message" required></textarea>
                        </div>
                        <button type="submit" class="btn tm-btn-submit tm-btn ml-auto">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 tm-contact-col">
                <div class="tm-address-box">
                    <p>A project during Sparks Foundation Internship</p>
                    <p>Designed and Developed by Manish Khandelwal</p>
                    <address>
                        SKIT College <br>
                        Jagatpura, Jaipur<br>
                        Rajasthan,302017
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>

</div>	<!-- .tm-content -->

{% endblock %}
