
{% extends 'base.html' %}

{% block content %}

<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 tm-content">

					<!-- section 1 -->

						<div class="ml-auto">
							<br>
							<header class="mb-4"><h1 class="tm-text-shadow">Credit Management Application</h1></header>
							<p class="mb-5 tm-font-big">Sparks Foundation GRIP Technical task. Choose a user and transfer the credits from one user to another user.</p>
							<a href="{% url 'viewprofiles' %}" class="btn tm-btn tm-font-big" >Continue...</a>
							<!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
						</div>


					<!-- section 2 -->


					<!-- section 3 -->


					<!-- section 4 -->

				</div>	<!-- .tm-content -->

{% endblock %}
